@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Background: #fff;
    --GradientBG1:#271D3E;
    --GradientBG2: #472D6C;
    --paragraph: #9688B7;
    --headings: #271D3E;
    --button: #41DEF3;
    --buttonText: #24104b;
    --buttonTextHover: #fff;
    --whiteText: #fff;
    --socialIcons: #41DEF3;
}